// ----------------buttons--------------------------

.btn {
	border: 2px solid $color--gray-2;
	border-radius: 10px;
	padding: 17px 34px;
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'agora_thin';
	letter-spacing: 1.7px;
	margin-top: 65px;
	&--yellow {
		padding: 10px 37px 10px 36px;
		background-color: $color--yellow;
		border-radius: 10px;
		position: relative;
		margin-right: 63px;
		letter-spacing: 0.7px;

		&:after {
			content: '';
			display: block;
			width: 130px;
			border-bottom: 1px dotted $color--gray-2;
			position: absolute;
			bottom: 10px;
			left: 35px;
		}
	}
	&--red {
		border: none;
		background-color: $color--red;
		color: $color--white;
	}
}
