// ---------------nav--------------------------

.nav {
	&__toggle {
		width: 25px;
		height: 18px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		span {
			width: 25px;
			border-top: 3px solid $color--gray-2;
			border-radius: 30%;
		}
	}
}
