// ---------------Step-------------------------

.step {
	display: flex;
	margin: 0 66px;
	position: relative;
	justify-content: space-between;
	&:after {
		content: '';
		border-bottom: 5px dashed $color--yellow;
		position: absolute;
		width: 100%;
		top: 67px;
		z-index: -1;
	}
	&__box {
		max-width: 140px;
		text-align: center;
	}
	&__ico {
		width: 139px;
		height: 139px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 5px solid $color--yellow;
		border-radius: 50%;
		margin-bottom: 20px;
		background-color: $color--white;
	}
}
