/*
 * ----------------------------------------
 * COLORS
 *
 * Colors in variables.
 * We have 7 recurrent colors:
 * - regular blue
 * - dark blue
 * - navy blue
 * - orange
 * - grey
 * - black
 * - white
 */

 $color--yellow: #ffd200;
 $color--red: #e11a27;
 $color--beige: #f7f0e6;
 $color--black: #000000;
 $color--gray-2: #212121;
 $color--white: #ffffff;
 $color--gray: #f3f0e7;
